<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">/User_Story: Editando</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Cancelar', user_stories_path(@user_stories.theme_id) %></li>
    </ul>
  </div>
</nav>

<%= render 'form' %>
